<table class="table routeTable" style="background-color: #059;">
	<tr>
		<td class="line">#{{ stopNumber }}<img class="transit_logo" src="images/cta_bus.svg"></img></td>
		<td class="line">{{ value }}</td>
	</tr>
</table>