<div class="row">
    <div class="col-md-12">
        <h4 class="text-muted">
            <img class="svg" width="25px" src="images/favorites.svg"></img>
            Favorites
        </h4>
    </div>
</div>
<table>
	<tr>
		<td class="statusChevron"><span class="glyphicon glyphicon-chevron-down glyphicon-inverse"></span></td>
	</tr>
</table>