<div class="row">
    <div class="col-md-12">
        <h4 class="text-muted">
            <img class="svg" width="25px" src="images/location.svg"></img>
            Nearby
        </h4>
    </div>
</div>
{{#each stops}}
	<table class="table routeTable nearbyTable" style="background-color: #059;">
		<tr class="nearbyRoute {{ stpid }}">
			<td class="line">#{{ serviceId }}<img class="transit_logo" src="{{routeIcon}}"></img></td>
			<td class="line">{{ stopName }}</td>
		</tr>
	</table>
{{/each}}