<h4 class="text-muted">Notifications</h4>
<table class="table borderless">
    <tr>
    	<td class="ctaAlert">
    		<img class="transit_logo" src="images/cta_bus_black.svg">
    	</td>
    </tr>
     <tr>
    	<td class="ctaAlert">
    		<img class="transit_logo" src="images/cta_train_black.svg">
    	</td>
    </tr>
</table>