<input name="routesTypeahead" class="routesTypeahead typeahead" placeholder="CTA Stop"></input>
<button type="button" class="btn btn-default">Warning</button>
<h4 class="text-muted">Route Status</h4>
{{#train-routes routes}}
{{/train-routes}}