<table class="table borderless">
    <tr>
        <td class="redLine"> 
            <p class="line"><img class="transit_logo" src="images/cta_train.svg"></img>Red Line</p>
        </td>
    </tr>
    <tr>
        <td class="orangeLine">
            <p class="line"><img class="transit_logo" src="images/cta_train.svg"></img>Orange Line</p>
        </td>
    </tr>
    <tr>
        <td class="yellowLine">
            <p class="line"><img class="transit_logo" src="images/cta_train.svg"></img>Yellow Line</p>
        </td>
    </tr>
    <tr>
        <td class="greenLine">
            <p class="line"><img class="transit_logo" src="images/cta_train.svg"></img>Green Line</p>
        </td>
    </tr>
    <tr>
        <td class="blueLine">
            <p class="line"><img class="transit_logo" src="images/cta_train.svg"></img>Blue Line</p>
        </td>
    </tr>
    <tr>
        <td class="purpleLine">
            <p class="line"><img class="transit_logo" src="images/cta_train.svg"></img>Purple Line</p>
        </td>
    </tr>
    <tr>
        <td class="pinkLine">
            <p class="line"><img class="transit_logo" src="images/cta_train.svg"></img>Pink Line</p>
        </td>
    </tr>
    <tr>
        <td class="brownLine">
            <p class="line"><img class="transit_logo" src="images/cta_train.svg"></img>Brown Line</p>
        </td>
    </tr>
</table>