$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

$primary-color: #565a5c;
$radio-color: #ffd400;

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $primary-color;
}

a{
    color: #ffffff;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

.nav-pills > li.active > a{
    background-color: $radio-color;
}

.redLine{
    background-color: #c60c30;
}

.orangeLine{
    background-color: #f9461c;
}

.yellowLine{
    background-color: #f9e300;
}

.greenLine{
    background-color: #009b3a;
}

.blueLine{
    background-color: #00a1de;
}

.purpleLine{
    background-color: #522398;
}

.pinkLine{
    background-color: #e27ea6;
}

.brownLine{
    background-color: #62361b;
}

.signGrey{
    background-color: #565a5c;
}


.line{
    color: #ffffff;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 400;
    overflow: auto;
}

.routeAlert{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 1px;
    margin-bottom: 10px;
    cursor: pointer;
}

.routeTable, .table > tbody > tr > td{
    text-align: left;
    border-top: 0px;
    margin-bottom: 0px;
    table-layout: fixed;
}

.statusChevron{
    
}


.routeAlertText{
    padding-left: 5px;
}

.glyphicon-inverse{
    color: #ffffff;
}

.borderless > tbody > tr > td{
    border-top: 4px solid $primary-color;
}

.transit_logo{
    width: 30px;
    vertical-align: middle;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}