$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

$primary-color: #565a5c;
$radio-color: #ffd400;

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $primary-color;
}

a{
    color: #ffffff;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

.nav-pills > li.active > a{
    background-color: $radio-color;
}

.redLine{
    background-color: #c60c30;
}

.orangeLine{
    background-color: #f9461c;
}

.yellowLine{
    background-color: #f9e300;
}

.greenLine{
    background-color: #009b3a;
}

.blueLine{
    background-color: #00a1de;
}

.purpleLine{
    background-color: #522398;
}

.pinkLine{
    background-color: #e27ea6;
}

.brownLine{
    background-color: #62361b;
}

.signGrey{
    background-color: #565a5c;
}


.line{
    color: #ffffff;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 400;
    overflow: auto;
}

.routeAlert{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 1px;
    margin-bottom: 10px;
    cursor: pointer;
}

#route, .routeTable, .table > tbody > tr > td{
    text-align: left;
    border-top: 0px;
    margin-bottom: 0px;
    table-layout: fixed;
}

#route{
    margin-top: 5%;
}

#arrivalsTable > tr > td{
    text-align: center;
    vertical-align: middle;
}

.routeAlertText{
    padding-left: 5px;
}

.glyphicon-inverse{
    color: #ffffff;
}

.borderless > tbody > tr > td{
    border-top: 4px solid $primary-color;
}

.transit_logo{
    width: 30px;
    vertical-align: middle;
}

/* Fix for typeahead.js and bootstrap 3*/
.twitter-typeahead .tt-hint {
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border: 1px solid transparent;
    border-radius:4px;
}
.twitter-typeahead .hint-small {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 3px;
    line-height: 1.5;
}
.twitter-typeahead .hint-large {
    height: 45px;
    padding: 10px 16px;
    font-size: 18px;
    border-radius: 6px;
    line-height: 1.33;
}

.twitter-typeahead {
     width: 100%;
}
.tt-dropdown-menu {
     width: 100%;
}
.tt-hint {
     width: 100%;
}

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
  display: none;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: $radio-color;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}