<input type="text" class="form-control routesTypeahead typeahead" placeholder="Search: Route # or Station">
<div class="spinner" id="searchSpinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>
</input>